PORT=8000
ALLOWED_ORIGINS=http://localhost:3000
RESEND_API_KEY=your-resend-api-key
RESEND_MAIL=your-resend-mail
MAIN_EMAIL=your-destination-email
ADMIN_EMAIL=your-admin-email
ADMIN_PASSWORD=your-admin-password
JWT_SECRET=your-secret-key
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=60
